body{
  margin-top: 80px;
  background-color: black;
}
.container{
  text-align: center;
  border-radius: 10px;
  border: solid white 2px;
  padding: 20px;
  width: 80%;
  background-color: black;
  color:white;
}
.data-box{
  display: inline-block;
  border: solid white 2px;
  padding: 10px;
  margin: 20px;
}
